:host {
    display: contents;
  }
  
  .login-page {
    background-color: #ffffff;
    font-family: Jomhuria, -apple-system, Roboto, Helvetica, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow-y: auto;
    background: url('https://cdn.builder.io/api/v1/image/assets/TEMP/26d0a111683e848fe10cb0be77c1c63396bc811ace5f256c6f85c150bae68564?placeholderIfAbsent=true') center center no-repeat;
    background-size: cover;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    padding: 30px 50px;
    border-radius: 100px;
    color: #ffffff;
    z-index: 2;
    box-sizing: border-box;
  }
  
  .content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
  }
  
  .main-title {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.3;
  }
  
  @media (max-width: 991px) {
    .login-container {
      max-width: 100%;
      padding: 30px 20px;
    }
    .main-title {
      font-size: 28px;
      margin-bottom: 10px;
    }
  }
  