.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 560px;
    width: 160%;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header .btn-close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modal-body {
    margin-top: 20px;
  }
/* Ajoutez ceci dans votre fichier CSS si nécessaire */
.custom-modal-width {
  max-width: 100%;
  margin: 1.75rem auto;
}