<header class="top-bar">
    <div class="search-container">
      <i class="ti ti-search search-icon"></i>
      <input type="text" placeholder="Search" class="search-input" />
    </div>
  
    <div class="top-bar-right">
      <div class="language-selector">
        <img
          [src]="
            'https://cdn.builder.io/api/v1/image/assets/TEMP/52687148ea1a5039e91e1bdc40a6844b71f5480c'
          "
          alt="UK Flag"
          class="flag-icon"
        />
        <span>English</span>
        <i class="ti ti-chevron-down"></i>
      </div>
  
      <app-user-profile></app-user-profile>
    </div>
  </header>
  