.nav-item {
    display: flex;
    align-items: center;
    padding: 17px 40px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
    cursor: pointer;
  }
  
  .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  i {
    font-size: 22px;
    width: 23px;
    margin-right: 34px;
  }
  