.sidebar {
    width: 297px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e8e8e8;
    margin-bottom: -3px;
    background-color: #273142;
  }
  
  .brand {
    padding: 47px 82px;
  }
  
  .brand-text {
    font-size: 20px;
    font-weight: 800;
  }
  
  .brand-primary {
    color: #4880ff;
  }
  
  .brand-secondary {
    color: #ffffff;
  }
  
  .nav-section {
    width: 100%;
  }
  
  .section-title {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.257px;
    opacity: 0.6;
    padding: 0 50px;
    margin: 8px 0;
  }
  /* Adjust the logo image */
.brand-logo {
  width: 40px; /* Set the size of the logo */
  height: auto;
  margin-right: 10px; /* Add some space between the logo and the text */
  vertical-align: middle; /* Align the logo vertically with the text */
}

  
  .divider {
    height: 1px;
    opacity: 0.11;
    margin: 18px 0;
    background-color: #e0e0e0;
  }
  
  @media (max-width: 991px) {
    .sidebar {
      width: 240px;
    }
  }
  
  @media (max-width: 640px) {
    .sidebar {
      display: none;
    }
  }
  