<nav class="sidebar">
  <div class="brand">
    <h1 class="brand-text">
      <img src="CarboTrack.png" class="brand-logo" />
      <span class="brand-primary">Carbo</span>
      <span class="brand-secondary">Track</span>
    </h1>
  </div>
  
    <div class="nav-section">
      <app-nav-item icon="layout-dashboard" label="Dashboard"></app-nav-item>
      <app-nav-item icon="box" label="Products"></app-nav-item>
      <app-nav-item icon="star" label="Favourites"></app-nav-item>
      <app-nav-item icon="messages" label="Messenger"></app-nav-item>
      <app-nav-item icon="list" label="Order Lists"></app-nav-item>
      <app-nav-item icon="shopping-cart" label="E-commerce"></app-nav-item>
    </div>
  
    <div class="divider"></div>
  
    <div class="nav-section">
      <h2 class="section-title">PAGES</h2>
      <app-nav-item icon="folder" label="File Manager"></app-nav-item>
      <app-nav-item icon="calendar" label="Calendar"></app-nav-item>
      <app-nav-item icon="rss" label="Feed"></app-nav-item>
      <app-nav-item icon="checklist" label="To-Do"></app-nav-item>
      <app-nav-item icon="users" label="Contact"></app-nav-item>
      <app-nav-item icon="file-invoice" label="Invoice"></app-nav-item>
      <app-nav-item icon="components" label="UI Elements"></app-nav-item>
      <app-nav-item icon="user" label="Profile"></app-nav-item>
      <app-nav-item icon="table" label="Table"></app-nav-item>
    </div>
  
    <div class="divider"></div>
  
    <div class="nav-section">
      <app-nav-item icon="settings" label="Settings"></app-nav-item>
      <app-nav-item icon="logout" label="Logout" (click)="goToRegister()"></app-nav-item>
    </div>
  </nav>
  