<aside id="sidebar" class="sidebar" [ngClass]="{ 'visible': isSidebarVisible, 'hidden': !isSidebarVisible }">
  <ul class="sidebar-nav" id="sidebar-nav">
    <ng-container *ngFor="let item of menuItems">
      <!-- Éléments sans enfants -->
      <li *ngIf="!hasVisibleChildren(item)" class="nav-item">
        <a class="nav-link" [routerLink]="item.routerLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i [class]="'bi ' + item.icon"></i><span>{{ item.element_name }}</span>
        </a>
      </li>

      <!-- Éléments avec enfants -->
      <li *ngIf="hasVisibleChildren(item)" class="nav-item">
        <a class="nav-link" (click)="toggleCollapse(item)" [class.collapsed]="item.isCollapsed">
          <i [class]="'bi ' + item.icon"></i>
          <span>{{ item.element_name }}</span>
          <i [class]="'bi ms-auto ' + (item.isCollapsed ? 'bi-chevron-down' : 'bi-chevron-up')"></i>
        </a>
        <div [class.collapse]="item.isCollapsed" [id]="item.element_name + '-nav'">
          <ul class="nav-content">
            <li *ngFor="let child of item.children">
              <a [routerLink]="child.routerLink" routerLinkActive="active">
                <i [class]="'bi ' + child.icon + ' fs-5'"></i><span>{{ child.element_name }}</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ng-container>
  </ul>
</aside>