<aside id="sidebar" class="sidebar" [ngClass]="{ 'visible': isSidebarVisible, 'hidden': !isSidebarVisible }">
  <ul class="sidebar-nav" id="sidebar-nav">
    <!-- Dashboard -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="userRole === 'gerant' ? '/dashboard-gerant' :
                                      userRole === 'cogerant' ? '/dashboard-cogerant' : 
                                      userRole === 'caissier' ? '/dashboard-caissier' : 
                                      userRole === 'pompiste' ? '/dashboard-pompiste' : 
                                      '/dashboard-client'"
         routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-grid"></i><span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

   <!-- Pour le Gérant -->
   <ng-container *ngIf="userRole === 'gerant'">
    <!-- Gestion des Utilisateurs -->
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link collapsed" data-bs-target="#user-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-person"></i><span>Gestion des Utilisateurs</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="user-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li><a [routerLink]="['/gestion-utilisateurs']" routerLinkActive="active"><i class="bi bi-circle"></i><span>Liste des Utilisateurs</span></a></li>
        <li><a [routerLink]="['/ajouter-utilisateur']" routerLinkActive="active"><i class="bi bi-circle"></i><span>Ajouter un Utilisateur</span></a></li>
      </ul>
    </li><!-- End Gestion des Utilisateurs -->

    <!-- Gestion des Comptes -->
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link collapsed" [routerLink]="['/gestion-comptes']">
        <i class="bi bi-credit-card"></i><span>Gestion des Comptes</span>
      </a>
    </li><!-- End Gestion des Comptes -->

    <!-- Gestion des Affectations -->
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link collapsed" data-bs-target="#assignment-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-calendar-check"></i><span>Gestion des Affectations</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="assignment-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li><a [routerLink]="['/gestion-affectations-pompistes']" routerLinkActive="active"><i class="bi bi-circle"></i><span>Calendrier des Pompistes</span></a></li>
      </ul>
    </li><!-- End Gestion des Affectations -->

    <!-- Gestion des Pompes -->
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link collapsed" data-bs-target="#pump-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-fuel-pump"></i><span>Gestion des Pompes</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="pump-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li><a [routerLink]="['/pump-list']" routerLinkActive="active"><i class="bi bi-circle"></i><span>Liste des Pompes</span></a></li>
        <li><a [routerLink]="['/add-pump']" routerLinkActive="active"><i class="bi bi-circle"></i><span>Ajouter une Pompe</span></a></li>
      </ul>
    </li><!-- End Gestion des Pompes -->

    <!-- Gestion des Pistolets -->
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link collapsed" data-bs-target="#pistol-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-fire"></i><span>Gestion des Pistolets</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="pistol-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li><a [routerLink]="['/pistolet-list']" routerLinkActive="active"><i class="bi bi-circle"></i><span>Liste des Pistolets</span></a></li>
        <li><a [routerLink]="['/add-pistol']" routerLinkActive="active"><i class="bi bi-circle"></i><span>Ajouter un Pistolet</span></a></li>
      </ul>
    </li><!-- End Gestion des Pistolets -->

    <!-- Gestion des Crédits -->
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link collapsed" data-bs-target="#credit-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-credit-card-2-back"></i><span>Gestion des Crédits</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="credit-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li><a [routerLink]="['/contract-list']" routerLinkActive="active"><i class="bi bi-circle"></i><span>Liste des Contrats</span></a></li>
        <li><a [routerLink]="['/vehicle-list']" routerLinkActive="active"><i class="bi bi-circle"></i><span>Liste des Voitures</span></a></li>
        <li><a [routerLink]="['/payment-history']" routerLinkActive="active"><i class="bi bi-circle"></i><span>Historique des Paiements</span></a></li>
        <li><a [routerLink]="['/transaction-history']" routerLinkActive="active"><i class="bi bi-circle"></i><span>Historique des Transactions</span></a></li>
      </ul>
    </li><!-- End Gestion des Crédits -->
  </ng-container><!-- End Gérant -->

  <!-- Pour le Cogerant -->
  <ng-container *ngIf="userRole === 'cogerant'">
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link collapsed" data-bs-target="#pump-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-pump"></i><span>Gestion des Pompes</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="pump-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li><a [routerLink]="['/pump-list']" routerLinkActive="active"><i class="bi bi-circle"></i><span>Liste des Pompes</span></a></li>
        <li><a [routerLink]="['/add-pump']" routerLinkActive="active"><i class="bi bi-circle"></i><span>Ajouter une Pompe</span></a></li>
      </ul>
    </li><!-- End Gestion des Pompes -->

    <!-- Gestion des Pistolets -->
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link collapsed" data-bs-target="#pistol-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-fire"></i><span>Gestion des Pistolets</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="pistol-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li><a [routerLink]="['/add-pistol']" routerLinkActive="active"><i class="bi bi-circle"></i><span>Ajouter un Pistolet</span></a></li>
      </ul>
    </li><!-- End Gestion des Pistolets -->
  </ng-container> <!-- End Cogerant -->
    <!-- Pour le Caissier -->
    <ng-container *ngIf="userRole === 'caissier'">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/transaction-history']" routerLinkActive="active">
          <i class="bi bi-clock"></i><span>Historique des Transactions</span>
        </a>
      </li><!-- End Historique des Transactions -->
    </ng-container><!-- End Caissier -->

    <!-- Pour le Pompiste -->
    <ng-container *ngIf="userRole === 'pompiste'">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/my-tasks']" routerLinkActive="active">
          <i class="bi bi-clipboard"></i><span>Mes Tâches</span>
        </a>
      </li><!-- End Mes Tâches -->
    </ng-container><!-- End Pompiste -->

    <!-- Pour le Client -->
    <ng-container *ngIf="userRole === 'client'">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/transaction-history']" routerLinkActive="active">
          <i class="bi bi-clock"></i><span>Historique des Transactions</span>
        </a>
      </li><!-- End Historique des Transactions -->
    </ng-container><!-- End Client -->

  </ul>
</aside><!-- End Sidebar -->
