.register-form-container {
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    width: 500px;
    max-width: 100%;
    padding: 20px 30px;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    color: #ffffff;
    justify-content: center;
    margin-top: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .error-border {
    border: 2px solid red !important;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 2px;
    display: block;
  }
  
  
  .register-form-wrapper {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .form-title {
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    align-self: stretch;
    margin-right: -3px;
    margin-bottom: 40px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  
  .submit-button {
    margin-top: 20px;
  }
  
  .login-section {
    display: flex;
    margin-top: 30px;
    width: auto;
    max-width: 100%;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: #ffffff;
  }
  
  .login-link {
    color: #ffffff;
    text-decoration: none;
    flex-grow: 1;
    flex-shrink: 1;
    width: 140px;
  }
  
  .login-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 30px;
    flex-shrink: 0;
  }
  
  @media (max-width: 991px) {
    .register-form-container {
      padding: 35px 20px;
      margin-top: 40px;
    }
    .form-title {
      font-size: 28px;
      margin-bottom: 30px;
    }
    .login-section {
      font-size: 18px;
    }
    .login-icon {
      width: 25px;
    }
  }
  