<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<main id="main" class="main">
  <div class="container">
    <div class="pagetitle d-flex justify-content-between align-items-center">
      <h2 style="color: rgb(7, 7, 128);">Liste des utilisateurs</h2>
      <!-- Bouton Ajouter Utilisateur -->
      <a routerLink="/ajouter-utilisateur" class="btn btn-success">
        <i class="bi bi-person-plus"></i> Ajouter Utilisateur
      </a>
    </div>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html"><i class="bi bi-house-door"></i></a></li>
        <li class="breadcrumb-item">Gestion des utilisateurs</li>
        <li class="breadcrumb-item active">Liste des utilisateurs</li>
      </ol>
    </nav>

    <!-- Champs de recherche -->
    <div class="search-filter">
      <input type="text" [(ngModel)]="searchTerm" (input)="filterUsers()" placeholder="Rechercher par email, téléphone, username" class="form-control"> <br>
      <select [(ngModel)]="filterRole" (change)="filterUsers()" class="form-select">
        <option value="">Tous</option>
        <option value="client">Client</option>
        <option value="caissier">Caissier</option>
        <option value="pompiste">Pompiste</option>
      </select>
    </div> <br>

    <!-- Champ de texte pour le nombre d'éléments par page à droite 
    <div class="d-flex justify-content-end mb-3">
      <label for="pageSize" class="me-2">Afficher par page:</label>
      <input type="number" [(ngModel)]="pageSize" (blur)="changePageSize()" class="form-control w-auto" id="pageSize" min="1" [value]="pageSize" />
    </div>
    -->
    <!-- Tableau des utilisateurs -->
    <table class="table">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Nom d'utilisateur</th>
          <th>Email</th>
          <th>Téléphone</th>
          <th>Rôle</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td>
            <div class="user-photo-container">
              <img *ngIf="user.photo" [src]="user.photo" alt="Photo" class="user-photo">
              <div *ngIf="!user.photo" class="default-icon">
                <i class="bi bi-person-circle"></i>  <!-- Icône par défaut -->
              </div>
            </div>
          </td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.numero_telephone }}</td>
          <td>{{ user.role }}</td>
          <td>
            <button class="btn btn-primary" (click)="openModal(user)">Modifier</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" href="#" (click)="changePage(currentPage - 1)" tabindex="-1" aria-disabled="true">Précédent</a>
        </li>
        <li *ngFor="let page of [].constructor(totalPages); let i = index" class="page-item" [class.active]="i + 1 === currentPage">
          <a class="page-link" href="#" (click)="changePage(i + 1)">{{ i + 1 }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" href="#" (click)="changePage(currentPage + 1)">Suivant</a>
        </li>
      </ul>
    </nav>
  </div>
</main>

<app-footer></app-footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
