/* Dans gestion-affectations-pompistes.component.css */
.fc-toolbar {
    background: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .fc-daygrid-day {
    background: white;
    border: 1px solid #e9ecef !important;
  }
  
  .fc-day-today {
    background-color: #fff8e1 !important;
  }
  
  .fc-col-header-cell {
    background: #f8f9fa;
    color: #495057;
    font-weight: bold;
  }
  
  .fc-event {
    font-weight: 500;
    border-radius: 3px;
    padding: 2px 5px;
  }
  
  /* Style pour les filtres */
  .filter-container {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .filter-title {
    color: #495057;
    font-weight: bold;
    margin-bottom: 10px;
  }